#
# ~/.bashrc
#
# StreaminOS - Console OS for headless game streaming
# No compositor auto-start needed - gamescope launched on-demand by Sunshine

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
PS1='[\u@\h \W]\$ '
